In [1]:
# Data preprocessing using pandas and numpy
# Data Visualization using matplotlib

In [2]:
# Introducing python

In [3]:
print("hello world")

hello world

In [4]:
a = 3
b = 4
c = a+b

In [5]:
print(c)

7

In [6]:
# Lets  get start with pandas
# start with series

In [7]:
import pandas as pd

In [9]:
# series objects
s1 = pd.Series(10)
s1

0    10
dtype: int64

In [10]:
# It gives index and value
# index   value

In [11]:
s2 = pd.Series([10,20,30,40,50])
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
# above generate series

In [15]:
name = pd.Series(["amber", "gautam", "John"], index = ['a', 'g', 'j'])

In [16]:
name
# by this we will get index values which we specified

a     amber
g    gautam
j      John
dtype: object

In [19]:
# now with dictionaries
name2 = pd.Series({'a':'amber','g':'gautam', 'j':'john', 'b':'bob'})
name2

a     amber
g    gautam
j      john
b       bob
dtype: object

In [20]:
# now start with numpy 
import numpy as np

In [22]:
views = pd.Series([100,200,150,300,600,150, np.nan])
views
# Nan: no values, given by numpy

0    100.0
1    200.0
2    150.0
3    300.0
4    600.0
5    150.0
6      NaN
dtype: float64

In [23]:
# length of views series
len(views)

7

In [24]:
# another way to get of length
views.shape

(7,)

In [25]:
# another method to get length
views.size

7

In [28]:
# get non NAN value
views.count()

6

In [29]:
# get the unique values
views.unique()

array([100., 200., 150., 300., 600.,  nan])

In [30]:
# frequency of values
views.value_counts()

150.0    2
600.0    1
300.0    1
200.0    1
100.0    1
dtype: int64

In [31]:
# lets start with new series
new_series = pd.Series([100,200,100,400,300,500,np.nan], index = ['sun', 'mon','tue','wed','thu','fri','sat'])

In [32]:
new_series

sun    100.0
mon    200.0
tue    100.0
wed    400.0
thu    300.0
fri    500.0
sat      NaN
dtype: float64

In [33]:
# get index
new_series.index

Index(['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'], dtype='object')

In [34]:
# get the values
new_series.values

array([100., 200., 100., 400., 300., 500.,  nan])

In [37]:
# slice a specific rows
# empty head give first five rows
new_series.head()

sun    100.0
mon    200.0
tue    100.0
wed    400.0
thu    300.0
dtype: float64

In [36]:
new_series.head(2)

sun    100.0
mon    200.0
dtype: float64

In [38]:
# get last rows
new_series.tail(3)

thu    300.0
fri    500.0
sat      NaN
dtype: float64

In [39]:
new_series.tail()

tue    100.0
wed    400.0
thu    300.0
fri    500.0
sat      NaN
dtype: float64

In [41]:
# Retrieve a value from new_series
new_series['sun']

100.0

In [42]:
# using index
new_series[1]

200.0

In [43]:
new_series[['mon','sat']]

mon    200.0
sat      NaN
dtype: float64

In [44]:
new_series[[2,1]]

tue    100.0
mon    200.0
dtype: float64

In [45]:
new_series.take([0,1,3])

sun    100.0
mon    200.0
wed    400.0
dtype: float64

In [46]:
# above are to get data using index or positions

In [47]:
# now srting series

In [48]:
string = pd.Series(['100', '200', '300'], index = ['a','b','c'])
string

a    100
b    200
c    300
dtype: object

In [52]:
string[1]

'200'

In [53]:
# get by label
string['a']

'100'

In [55]:
integer = pd.Series([1,2,33,4])
integer

0     1
1     2
2    33
3     4
dtype: int64

In [56]:
 integer.loc[1]

2

In [61]:
# not start with index 0 get by label
integer.iloc[3]

4

In [62]:
integer.iloc[[1,2]]

1     2
2    33
dtype: int64

In [ ]:
integer.iloc[[2,3]]